<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MusicColorfulBox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E8B8D6591E69453D0038025F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8B8D6721E69453E0038025F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8B8D67D1E69453E0038025F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
